.bg-image {
    background-image: url('image/street.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .navbar-brand {
    font-size: 30px;
    font-family: 'geologica';
    text-shadow: 1px 1px 1px;
  }
  .home {
    margin-left: 280px;
    font-family: 'font-1';
    font-size: 24px;
  }
  .about {
    font-family: 'font-1';
    font-size: 24px;
  }
  .contact {
    font-family: 'font-1';
    font-size: 24px;
  }
  .account {
    font-family: 'font-1';
    font-size: 24px;
  }
  .blog {
    font-family: 'font-1';
    font-size: 24px;
  }
  .btn-outline-light {
    margin-top: 0px; 
    margin-left: -1070px;
  }
  .text-title-1 {
    font-size: 60px;
   
    margin-top: 50px;
    margin-left: -650px;
  }
  .text-title-2 {
    font-size: 60px;
  
    margin-left: -500px;
  }
  .text-title-3 {
    font-size: 60px;
    
    margin-left: -750px;
  }
  .caption {
    margin-left: -680px;
    font-family: 'font-1';
    font-size: 20px;
  }
  .btn-light {
    margin-left: -1020px;
    font-family: 'font-1';
    font-size: 25px;
    font-weight: 800;
    
  }